body {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 2rem;
  padding-bottom: 15px;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

label {
  display: block;
}

input {
  width: 100%;
}

span {
  padding: 10px 0;
  display: block;
  color:crimson;
}

img {
  max-width: 100vw;
  max-height: 100vh;
}

button {
  margin-top: 25px;
}